* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.layout {
  display: grid;
  height: 100vh;
  grid-auto-rows: auto 1fr auto;
}
